{%  extends "ApplicationBundle::layout.html.twig" %}
{% block navlef %} 
       {% include "ApplicationBundle:Actualite:menu-actualite.html.twig" %}     
{% endblock navlef %}

{% block navright %} 
{% if   listeArticles|length >0    %}
	{% for article in listeArticles %}
	     <div class = 'row'>
		<div class = 'col-sm-2'>
			<img style="width:100px;height:100px;" class="img img-responsive"
				 src="{{app.request.basepath}}/uploads/photo/{{ article.photo }}"/>
		</div>
		<div class = 'col-sm-9'>
			<h3 style="display:inline;">{{article.titre}}</h3> 
			 <h4 style="display:inline;">Posté le:{{article.date|date('d/m/Y')}}</h4>
			<br/><br/>
			<a href="{{ path('actualite_article_delail',{'id':article.id})}}">
				{{ article.description | truncate(200, true, '...') }} 
			</a>
		</div>
	 </div>
	 <hr/>
	
    {%  endfor %}

    {% else %}
		<div class = 'alert alert-info text-center'> Aucun article  trouv&eacute;! </div>
	
    {% endif %}


{% endblock navright %}

