<div class="panel panel-info"> 
 
  <!-- La classe .panel-heading permet de mettre en forme le texte de l’en-tête-->
  <div class="panel-heading"><strong>L'association</strong></div>  
	<ul class="list-group">
		<a href="{{path('association_historique')}}" class="list-group-item"><span class="glyphicon glyphicon-chevron-right pull-right"></span>
			HISTORIQUE
		</a>
		<a href="{{path('association_organigramme')}}" class="list-group-item"><span class="glyphicon glyphicon-chevron-right pull-right"></span>
		
			ORGANIGRAMME
		</a>
		<a href="{{path('association_nos_solutions')}}" class="list-group-item"><span class="glyphicon glyphicon-chevron-right pull-right"></span>
			NOS SOLUTIONS
		</a>
		<a href="{{path('association_nos_projets')}}" class="list-group-item"><span class="glyphicon glyphicon-chevron-right pull-right"></span>
			PROJETS
		</a>
		<a href="{{path('association_implantations')}}" class="list-group-item"><span class="glyphicon glyphicon-chevron-right pull-right"></span>
			IMPLANTATIONS
		</a>
		<a href="">&nbsp;</a>
	</ul>	
</div>